body {
  font-family: Arial;
  text-align: center;
  background: #121212;
  color: white;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

button {
  padding: 15px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  width: 90%;
}

.red { background: #e74c3c; }
.blue { background: #3498db; }
.yellow { background: #f1c40f; color:black;}
.green { background: #2ecc71; }

.timer-bar {
  height: 10px;
  background: lime;
  width: 100%;
  transition: width 20s linear;
}

.leaderboard {
  text-align: left;
}